<section class="guarantee">
    <div class="container">
        <h2 class="guarantee__title title">
            Гарантии<br/>
            <span>качества</span>
        </h2>
        <div class="guarantee__items">
            <div class="guarantee__item">
                <h3>Гарантия на работы</h3>
                <p>2 года гарантии на все виды ремонтных работ</p>
            </div>
            <div class="guarantee__item">
                <h3>Официальный договор</h3>
                <p>Все работы оформляются официальным договором</p>
            </div>
            <div class="guarantee__item">
                <h3>Честная смета</h3>
                <p>Фиксированная цена без скрытых доплат</p>
            </div>
            <div class="guarantee__item">
                <h3>Быстрое реагирование</h3>
                <p>Выезд на замеры в день обращения</p>
            </div>
        </div>
    </div>
</section>

