.offer {
    margin-top: 102px;
    padding: 201px 0 276px;
    position: relative;
}

.offer .container {
    position: relative;
    z-index: 2;
}

.bg-1 {
    position: absolute;
    left: 0;
    top: -120px;
    max-width: 360px;
    z-index: 1;
}

.bg-2 {
    position: absolute;
    right: 0;
    bottom: -5px;
    max-width: 614px;
    z-index: 1;
}

.bg-3 {
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);
    max-width: 890px;
    width: 100%;
    z-index: 1;
}

.offer__title {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 240px;
    line-height: 174px;
}

.offer__title-top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 46px;
}

.offer__title-top .profession {
    font-size: 40px;
    color: var(--gray-light);
    line-height: normal;
    padding-bottom: 20px;
}

.offer__title-bottom {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: max-content;
}

.offer__title-bottom-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 120px;
    border-bottom: 4px solid var(--orange);
    color: var(--orange);
    padding-bottom: 32px;
}

.offer__subtitle {
    font-size: 64px;
    line-height: 48px;
    display: block;
    color: var(--gray-light);
}

.offer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-transform: initial;
    line-height: normal;
}

.offer__bottom p {
    font-size: 24px;
    font-family: "InterRegular", sans-serif;
    font-weight: 400;
    color: var(--gray);
}

.offer__bottom a {
    font-size: 20px;
    color: white;
    background-color: var(--orange);
    padding: 12px 36px;
    font-family: "InterBold", sans-serif;
    text-align: center;
}

@media (max-width: 1350px) {
    .offer__title {
        font-size: 180px;
        line-height: 130px;
    }

    .offer__title-top .profession,
    .offer__subtitle {
        font-size: 32px;
        line-height: 26px;
    }
    .offer__title-bottom-wrapper {
        gap: 60px;
        padding-bottom: 24px;
    }
    .bg-1 {
        max-width: 280px;
    }
    .bg-2 {
        max-width: 480px;
    }
    .bg-3 {
        max-width: 65%;
    }
}

@media (max-width: 1050px) {
    .offer {
        padding: 150px 0 200px;
    }
    .offer__title {
        font-size: 128px;
        line-height: 94px;
    }
    .offer__title-top {
        padding-bottom: 32px;
    }
}

@media (max-width: 790px) {
    .offer__title-top {
        align-items: flex-start;
    }
    .offer__title-bottom {
        max-width: 100%;
    }
    .bg-1 {
        max-width: 180px;
    }
    .bg-2 {
        max-width: 320px;
    }
    .bg-3 {
        max-width: 85%;
    }
}

@media (max-width: 760px) {
    .offer__title {
        font-size: 96px;
        line-height: 70px;
    }
    .offer__title-top {
        padding-bottom: 22px;
    }
    .offer__title-bottom {
        gap: 12px;
    }
    .offer__bottom {
        flex-direction: column;
        gap: 12px;
    }
}

@media (max-width: 625px) {
    .offer__title {
        font-size: 72px;
        line-height: 56px;
    }
}

@media (max-width: 550px) {
    .offer__bottom p {
        font-size: 16px;
    }
    .offer__title-top .profession, .offer__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
    .offer__title-top .profession {
        padding-bottom: 8px;
    }
    .offer__title-bottom-wrapper {
        gap: 24px;
        padding-bottom: 24px;
    }
    .bg-3 {
        max-width: 95%;
    }
}
@media (max-width: 450px) {
    .offer__title {
        font-size: 56px;
        line-height: 42px;
    }
    .offer__bottom a {
        width: 100%;
    }
}