<footer class="footer">
    <div class="container">
        <div class="footer__left">
            <div class="footer__left-wrapper">
                <a
                    href="tel:+79998248392"
                    class="footer__phone footer-btn"
                >
                    <img src="/img/layouts/phone.svg" alt="Телефон">
                    <span>+7 (999) 824-83-92</span>
                </a>
                <p>Ежедневно с 9:00 до 19:00</p>
            </div>
        </div>
        <div class="footer__right">
            <p>Задайте вопрос</p>
            <div class="footer__right-wrapper">
                <a
                    href="https://wa.me/79998248392"
                    class="footer__cta footer-btn"
                >
                    <img src="/img/layouts/whatsapp.svg" alt="WhatsApp">
                    <span>Whatsapp</span>
                </a>
                <a
                    href="https://t.me/+79998248392"
                    class="footer__cta footer-btn"
                >
                    <img src="/img/layouts/telegram.svg" alt="Telegram">
                    <span>Telegram</span>
                </a>
            </div>
        </div>    
    </div>
</footer>