<header class="header">
    <div class="container">
        <div class="header__left">
            <!-- <div class="burger">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </div> -->
            <div class="header__left-wrapper">
                <a
                    href="tel:+79998248392"
                    class="header__phone header-btn"
                >
                    <img src="/img/layouts/phone.svg" alt="Телефон">
                    <span>+7 (999) 824-83-92</span>
                </a>
                <p>Ежедневно с 9:00 до 19:00</p>
            </div>
        </div>
        <div class="header__right">
            <p>Задайте вопрос</p>
            <div class="header__right-wrapper">
                <a
                    href="https://wa.me/79998248392"
                    class="header__cta header-btn"
                >
                    <img src="/img/layouts/whatsapp.svg" alt="WhatsApp">
                    <span>Whatsapp</span>
                </a>
                <a
                    href="https://t.me/+79998248392"
                    class="header__cta header-btn"
                >
                    <img src="/img/layouts/telegram.svg" alt="Telegram">
                    <span>Telegram</span>
                </a>
            </div>
        </div>    
    </div>
</header>