:root {
    --white: #ffffff;
    --black: #000000;
    --orange: #EF5E4B;
    --orange-dark: #D55140;
    --gray: #2B2B2B;
    --gray-dark: #1A1A1A;
    --gray-light: #747474;
    --gray-lighter: #bbbbbb;
}

body {
    overflow-x: hidden;
    font-family: "InterRegular", sans-serif;
    color: var(--black);
}

section {
    padding: 100px 0;
    max-width: 1920px;
    margin: 0 auto;
    border: 1px solid var(--gray-lighter);
    border-bottom: none;
    border-top: none;

    @media (max-width: 1010px) {
        padding: 80px 0;
    }

    @media (max-width: 575px) {
        padding: 52px 0;
    }
}

.container {
    max-width: 1688px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;

    @media (max-width: 575px) {
        padding: 0 20px;
    }
}

.title {
    text-transform: uppercase;
    font-family: "Bebas", sans-serif;
}

h2 {
    font-size: 128px;
    line-height: normal;
    margin-bottom: 52px;

    @media (max-width: 1010px) {
        font-size: 64px;
        margin-bottom: 46px;
    }

    @media (max-width: 575px) {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 38px;
    }
}

h2 span {
    padding-left: 120px;

    @media (max-width: 1010px) {
        padding-left: 60px;
    }

    @media (max-width: 575px) {
        padding-left: 40px;
    }
}