@font-face {
    font-family: 'Bebas';
    src:
        url('../fonts/BebasNeueCyrillic.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'InterRegular';
    src:
        url('../fonts/InterRegular.woff2') format('woff2'),
        url('../fonts/InterRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'InterBold';
    src:
        url('../fonts/InterBold.woff2') format('woff2'),
        url('../fonts/InterBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}