<section class="offer">
    <div class="bg-1">
        <img src="/img/offer/bg1.png" alt="">
    </div>
    <div class="bg-2">
        <img src="/img/offer/bg2.png" alt="">
    </div>
    <div class="bg-3">
        <img src="/img/offer/bg3.png" alt="">
    </div>
    <div class="container">
        <h1 class="offer__title title">
            <span class="offer__title-top">
                <div class="offer__title-top-right">
                    <p class="profession">профессиональный</p>
                    <span>Ремонт квартир</span>
                </div>
            </span>
            <span class="offer__title-bottom">
                <div class="offer__title-bottom-wrapper">
                    <span>под ключ</span>
                    <p class="offer__subtitle">
                        без посредников
                    </p>
                </div>
                <div class="offer__bottom">
                    <p>в Москве и Московской области</p>
                    <a href="#prices">Посмотреть цены</a>
                </div>
            </span>
        </h1>
    </div>
</section>