<section class="prices">
    <div class="container">
        <h2 class="prices__title title">
            мои<br/>
            <span>
                работы</span>
        </h2>
        <div class="prices__wrapper">
        </div>
    </div>
</section>