<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(m,e,t,r,i,k,a){
        m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
    })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=105465754', 'ym');

    ym(105465754, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", accurateTrackBounce:true, trackLinks:true});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/105465754" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Google Analytics - раскомментируйте и укажите ваш ID, если используете -->
<!--
<script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'GA_MEASUREMENT_ID');
</script>
-->

<!-- Отслеживание кликов по телефону и мессенджерам -->
<script>
  // Отслеживание звонков
  document.querySelectorAll('a[href^="tel:"]').forEach(function(link) {
    link.addEventListener('click', function() {
      if (typeof ym !== 'undefined') {
        ym(105465754, 'reachGoal', 'phone_call');
      }
      // Раскомментируйте, если используете Google Analytics
      // if (typeof gtag !== 'undefined') {
      //   gtag('event', 'phone_call', {
      //     'event_category': 'engagement',
      //     'event_label': 'Phone Click'
      //   });
      // }
    });
  });

  // Отслеживание кликов по WhatsApp
  document.querySelectorAll('a[href*="wa.me"]').forEach(function(link) {
    link.addEventListener('click', function() {
      if (typeof ym !== 'undefined') {
        ym(105465754, 'reachGoal', 'whatsapp_click');
      }
      // Раскомментируйте, если используете Google Analytics
      // if (typeof gtag !== 'undefined') {
      //   gtag('event', 'whatsapp_click', {
      //     'event_category': 'engagement',
      //     'event_label': 'WhatsApp Click'
      //   });
      // }
    });
  });

  // Отслеживание кликов по Telegram
  document.querySelectorAll('a[href*="t.me"]').forEach(function(link) {
    link.addEventListener('click', function() {
      if (typeof ym !== 'undefined') {
        ym(105465754, 'reachGoal', 'telegram_click');
      }
      // Раскомментируйте, если используете Google Analytics
      // if (typeof gtag !== 'undefined') {
      //   gtag('event', 'telegram_click', {
      //     'event_category': 'engagement',
      //     'event_label': 'Telegram Click'
      //   });
      // }
    });
  });
</script>
