name: Deploy 11ty site via SSH

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Build 11ty site
        run: npx eleventy

      - name: Deploy to server via SSH
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.REMONT_SSH_HOST }}
          username: ${{ secrets.REMONT_SSH_USER }}
          key: ${{ secrets.REMONT_SSH_KEY }}
          port: 22
          source: "_site/*"
          target: ${{ secrets.REMONT_SSH_PATH }}
          rm: true
